.btn {
    background-color: #ffb400;
    color: black;
    font-family: 'BBH Sans Bogle', sans-serif;
    padding: .5rem 1.4rem;
    font-size: 1.22rem;
    display: inline-flex;
    position: relative;
    img {
        width: 2rem;
        margin-left: 0.6rem;
        position: absolute;
        top: 10%;
        right: .5rem;
    }
    margin-top: .7rem;
    padding-right: 2.4rem;
}