@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Medium.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-Regular.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --list-style-none: none;
  --standard-padding: 1rem;
  --standard-margin: 1rem;
  --standard-border-radius: 1rem;
  --standard-gap: 1rem;
  --primary-color: #3d3b40;
  --secondary-color: #525ceb;
  --tertiary-color: #bfcfe7;
  --hover-color: F8EDFF;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
  color: #333;
  background-color: var(--primary-color);
}

.main-container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

header {
  & nav {
    padding-top: var(--standard-padding);
    display: flex;
    justify-content: space-between;
    & .links-container {
      display: flex;
      gap: var(--standard-gap);
    }
    & ul {
      list-style: var(--list-style-none);
      padding: 0rem;
      & li {
        color: var(--tertiary-color);
        & a {
          display: flex;
          gap: var(--standard-gap);
          color: var(--tertiary-color);
          text-decoration: none;
          & img {
            width: 1rem;
          }
        }
      }
    }
  }
}

.top-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  color: white;
  margin-top: 2rem;

  & .top-content-description {
    width: 20rem;
    text-align: center;
    margin: 0 auto;
  }
  & p {
    margin-bottom: var(--standard-margin);
  }
  & h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--tertiary-color);
  }
  & a {
    display: flex;
    align-items: center;
    gap: var(--standard-gap);
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--standard-border-radius);
    cursor: pointer;
    text-decoration: none;
    width: 11rem;
    margin: 0 auto;
    & img {
      width: 1rem;
    }
  }

  & .about-container {
    margin-top: 5rem;
    display: flex;
    gap: var(--standard-gap);
    & p {
      margin-top: 1rem;
      width: 20rem;
      align-self: flex-start;
    }
    & .about__img {
      width: 15rem;
      opacity: 1;
    }
  }
}
