@import url("general.css");

main {
  & .box {
    position: fixed;
    inset: 0;
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--quaternary-color);
  }
}
.main-container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

header {
  & nav {
    padding-top: var(--standard-padding);
    display: flex;
    justify-content: space-between;
    & .links-container {
      display: flex;
      gap: var(--standard-gap);
    }
    & ul {
      list-style: var(--list-style-none);
      padding: 0rem;
      & li {
        color: var(--tertiary-color);
        & a {
          display: flex;
          gap: var(--standard-gap);
          color: var(--tertiary-color);
          text-decoration: none;
          & img {
            width: 1rem;
          }
        }
      }
    }
  }
}

.top-content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 4rem;

  & .top-content-image {
    width: 15rem;
  }

  & .top-content-description {
    width: 31rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
  }
  & p {
    margin-bottom: var(--standard-margin);
  }
  & h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--tertiary-color);
  }
  & a {
    display: flex;
    align-items: center;
    gap: var(--standard-gap);
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--standard-border-radius);
    cursor: pointer;
    text-decoration: none;
    width: 15rem;
    margin: 0 auto;
    & img {
      width: 1rem;
    }
  }
}

.second-content {
  margin-top: 2rem;
  background-color: hsl(0, 0%, 20%);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  & .about-container {
    color: white;
    display: flex;
    justify-content: center;
    gap: 1rem;
    & .picture-container {
      padding: 1rem;
      & figure {
        & img {
          width: 16rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
      }
    }
    & .info-container {
      width: 28rem;
      padding: 1rem;
      & h1,
      h2 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--tertiary-color);
      }
      & .contact-container {
        padding-top: 4rem;
        & a {
          color: var(--tertiary-color);
          text-decoration: none;
          transition: color 0.5s;
          &:hover {
            background-color: var(--quaternary-color);
            transition: background-color 0.5s;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
