.projects-container { 
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
    .intro {
        position: fixed;
        inset: 0;
        background: #0e0e0f;
        display: grid;
        place-items: center;
        z-index: 9999;
        p {
        font-size: clamp(2rem, 6vw, 5rem);
        font-weight: 800;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        }
    }
    &.container {
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        .hero-section {
            h1 {
                margin-top: 0;
            }
        }
    }
}